<div class="container">
    <br />
    <div class="row">

        <div class="col-lg-3">

            <app-book-category></app-book-category>

        </div>
        <!-- /.col-lg-3 -->
        <div class="col-lg-9">
            <div class="row">
                <div class="col-12 col-md-4">
                    <div class="thumbnail">
                        <img [src]="book?.imageUrl" alt="" width="250px" height="300px">
                    </div>
                </div>
                <div class="col-12 col-md-8">
                    <h3>{{book?.name}}</h3>
                    <hr />
                    <p>{{book?.description}}</p>
                    <hr />
                    <h4>Price: <strong>{{book?.unitPrice | currency: 'INR'}}</strong></h4>
                    <hr />
                    <h6>Qty. Available: {{book?.unitsInStock}}</h6>
                    <hr />
                    <a class="btn btn-success text-white" (click)="goBack()">
                        <i class="fa fa-arrow-left" aria-hidden="true"></i> Back</a>
                    <a class="btn btn-primary text-white float-right" (click)="addToCart(book)">
                        <i class="fa fa-cart-plus" aria-hidden="true"></i> Add to Cart</a>
                    <div class="row"></div>
                </div>
            </div>
        </div>
        <!-- /.col-lg-9 -->
    </div>
</div>